<configuration scan="true" scanPeriod="30 seconds">

    <!-- Human readable console logs -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- JSON logs -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timeStamp/>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <stackTrace/>
                <mdc/>
                <pattern>
                    <pattern>{"service":"bookmanager"}</pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

    <logger name="zw.co.zss.bookManager" level="DEBUG"/>
</configuration>
